<tbody>
  
      <tr>
        <p>エルフ</p>
        <p>ロイヤル</p>
        <p>ウィッチ</p>
        <p>ドラゴン</p>
        <p>ネクロマンサー</p>
        <p>ヴァンパイア</p>
        <p>ビショップ</p>
        <p>ネメシス</p>
      </tr>
    
    </tbody>