<div class="main_panel">
<div class="main_area">
<p>Shadowverse戦績管理アプリ はゲームアプリ『Shadowverse』の<br /><br />
戦績管理や、プレーヤー同士の交流を目的とした掲示板を利用できるサービスです。</p>
<br /><br />

<% if !user_signed_in? %>
<%= link_to "ログイン", user_twitter_omniauth_authorize_path, class: "btn btn-lg btn-success  " %>
<% else %>
<%= link_to "マイページ", users_show_path(current_user.id), class: "btn btn-lg btn-success  " %>
<% end %>

</div>
</div>